<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
    <title>{$title}</title>

    <script src="../../../../public/static/js/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../../public/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../../../public/static/css/message.css">
    <script src="../../../../public/static/js/message.js"></script>
    <script>
       /* $(function (){
            //$user=$("#session_user").text();


            if($user==0)
            {
               // alert($user);
                $.message({
                    message:"{:lang('login_Log_back_in')}",
                    type:'warning'
                });


                setTimeout('url()',3000 );
                // window.location.href="{:url('admin/login/login')}";
            }

        });
        function url(){
            window.location = "{:url('admin/login/login')}";
        }
*/
    </script>
</head>
<script>

</script>

<body>
<span>
      <fieldset class="layui-elem-field">
    <legend></legend>
    <div class="layui-field-box">
     <fieldset class="layui-elem-field layui-field-title">
      <legend>版本号:# v0.01 2016-11-20</legend>
      <div class="layui-field-box">
       <p>1、基本布局 tab + iframe</p >
       <p>2、动态添加，删除tab</p >
       <p>3、表格样式</p >
       <p>4、分页组件</p >
      </div>
     </fieldset>
    </div>
   </fieldset>
    <span id="session_user">{$Think.session.nickname}</span>
    {$Think.session.session_start_time}

</span>
{if ( $Think.session.nickname != "") }<a href="{:url('home/login/logout')}">退出登录</a>
{else /}
{/if}

</body>



</html>